div.titulocat{
    width: 100%;
    background-color: mediumaquamarine;

    grid-column-start: 1;
    grid-column-end: 3;
}

div.categorias#contenedor{
    justify-content: start;
}

div.anuncios{
    margin-top: 5vh;

  
    display: grid;
    grid-template-columns: repeat(2,40%);
    grid-template-rows: repeat(5,15vh);
    grid-row-gap: 7vh;
    grid-column-gap: 5%;
    grid-auto-flow: row;
}
@media screen and (min-width: 700px){
    div.titulocat{
        grid-column-end: 4;
    }
    div.anuncios{
        grid-template-columns: repeat(3,25%);
    }
}
@media screen and (min-width: 1200px){
    div.titulocat{
        grid-column-end: 5;
    }
    div.anuncios{
        grid-template-columns: repeat(4,18%);
      
    }
}
@media screen and (min-width: 1500px){
    div.titulocat{
        grid-column-end: 6;
    }
    div.anuncios{
        grid-template-columns: repeat(5,15%);
     
    }
}
