<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mobile.css">
    <title>Reto_2</title>
</head>
<body>
    <header>
        <h1>Titulo</h1>
        <nav>
            <input type="text" id="buscador">
            
            <button id="inicioSesion">i</button>
        </nav>
    </header>
    <div id="todo">
        <button id="botonmenu">M</button>

        <aside>
            <div class="menu">
                <h2 class="tituloMenu">Titulo1</h2>
                <button class="opcion">Opcion1</button>
                <button class="opcion">Opcion2</button>
                <button class="opcion">Opcion3</button>
                <button class="opcion">Opcion4</button>
                <button class="opcion">Opcion5</button>
            </div>
            <div class="menu">
                <h2 class="tituloMenu">Titulo2</h2>
                <button class="opcion">Opcion6</button>
                <button class="opcion">Opcion7</button>
                <button class="opcion">Opcion8</button>
            </div>
            <div class="menu">
                <h2 class="tituloMenu">Titulo3</h2>
                <button class="opcion">Opcion9</button>
                <button class="opcion">Opcion10</button>
                <button class="opcion">Opcion11</button>
                <button class="opcion">Opcion11.5</button>
            </div>
            <div class="menu">
                <h2 class="tituloMenu">Titulo4</h2>
                <button class="opcion">Opcion12</button>
                <button class="opcion">Opcion13</button>
                <button class="opcion">Opcion14</button>
                <button class="opcion">Opcion15</button>
                <button class="opcion">Opcion16</button>
            </div>
        </aside>

        <div id="contenedor">
            <section>
                <h3 class="titulo">1</h3>
                <div class="anuncio primero" >2</div>
                <div class="anuncio segundo">3</div>
                <div class="anuncio tercero">3.5</div>
                <div class="anuncio cuarto">3.75</div>
                <div class="anuncio quinto">3.875</div>
            </section>
            <section>
                <h3  class="titulo">4</h3>
                <div class="anuncio primero" >5</div>
                <div class="anuncio segundo">6</div>
                <div class="anuncio tercero">6.5</div>
                <div class="anuncio cuarto">6.75</div>
                <div class="anuncio quinto">6.875</div>
            </section>
            <section>
                <h3 class="titulo">7</h3>
                <div class="anuncio primero" >8</div>
                <div class="anuncio segundo">9</div>
                <div class="anuncio tercero">9.5</div>
                <div class="anuncio cuarto">9.75</div>
                <div class="anuncio quinto">9.875</div>
            </section>
            <section>
                <h3 class="titulo">10</h3>
                <div class="anuncio primero" >11</div>
                <div class="anuncio segundo">12</div>
                <div class="anuncio tercero">12.5</div>
                <div class="anuncio cuarto">12.75</div>
                <div class="anuncio quinto">12.875</div>
            </section>
            <section>
                <h3 class="titulo">13</h3>
                <div class="anuncio primero" >14</div>
                <div class="anuncio segundo">15</div>
                <div class="anuncio tercero">15.5</div>
                <div class="anuncio cuarto">15.75</div>
                <div class="anuncio quinto">15.875</div>
            </section>
            <section>
                <h3 class="titulo">13</h3>
                <div class="anuncio primero" >14</div>
                <div class="anuncio segundo">15</div>
                <div class="anuncio tercero">15.5</div>
                <div class="anuncio cuarto">15.75</div>
                <div class="anuncio quinto">15.875</div>
            </section>
            <section>
                <h3 class="titulo">13</h3>
                <div class="anuncio primero" >14</div>
                <div class="anuncio segundo">15</div>
                <div class="anuncio tercero">15.5</div>
                <div class="anuncio cuarto">15.75</div>
                <div class="anuncio quinto">15.875</div>
            </section>
        </div>
    </div>
    <footer>

    </footer>
</body>
</html>