#contenedor {
    min-height: 70vh;
}

#contenedor .anuncio {
    display: block;
    margin-left: 0;
    padding: 5% 
}

.anuncio button {
    float: right;
    width: 5vh;
    height: 5vh;
    background-color: green;
    border-radius: 1vh;
    border: 1px solid white;
}

.anuncio h2 {
    margin-bottom: 5%;
}

.anuncio #imagen {
    height: 12em;
    width: 90%;
    max-width: 700px;
    max-height: 350px;
    margin: 0 auto;
}

.anuncio #imagen img {
    max-height: 100%;
    max-width: 100%;
}

.anuncio b {
    font-size: 28px;
    color: red;
    
}

.anuncio .datos #proveedor{
    margin: 3% 0;
}

.anuncio .datos #proveedor ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 13px;
    color: grey;
}

.anuncio .datos #proveedor ul li {
    margin-top: 5px;
}

@media screen and (min-width: 700px) {
    .anuncio .datos #proveedor ul{
        flex-direction: row;
    }

    .anuncio #imagen {
        height: 35vh;
    }

    #contenedor .anuncio {
        display: block;
        margin-left: 0;
        padding: 3% 
    }
}

@media screen and (min-width: 1500px) {}