*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-transform: capitalize;
}
a{
    text-decoration: none;
}
header, nav,footer{
    background-color:  #73ad89;
}
header{
    height: 20vh;
    top: 0vh;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index:3;
}
header h1{
    margin-left: 20%;
    width: 80%;

}
header div#logo{
    position: absolute;
    top: 3vh;
    left: 5vh;
}
header a{
    margin-top: 2em;
    
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}
header nav{
    width: 65%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
header nav form#busqueda{
    width: 100%;
}
header nav input#buscador{
    width: 65%;
    background-color: green;
    border: 1px solid white;
    border-radius: 1vh;
    padding: 10px ;
}
header nav input#botonbuscar{
    background-color: green;
    border: 1px solid white;
    padding: 1vh 1.5vh;
    border-radius: 1vh;
}

header nav input#botonbuscar:hover{
    background-color: blue;
    border: 1px solid white;
    padding: 1vh 1.5vh;
    border-radius: 1vh;
}

header nav button#inicioSesion{
    background-image: url("../imagenes/iconos/user_icon.jpg");
    background-size: 100% 100%;

    background-color: cyan;
    border: 1px solid white;
    padding: 1vh 2vh;
    border-radius: 1vh;
    cursor: pointer;
}


#todo{
    background-color: black;
}

aside{
    background-color: #617a69;
    width: 25%;
    position: relative;
    z-index: 3;
    display: none;
    position: relative;
    margin-top: 20vh;
    width: 100%;
    overflow-y: scroll;
    height: 70vh;
}
aside div:first-of-type{
    border-top: none;
}
.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0%;
    border-top: 1px solid white;
}
#botonCerrarMenu {
    position: fixed;
    display: none;
    top: 20vh;
    right: 2px;
    width: 5vh;
    height: 5vh;
    background-color: green;
    border-radius: 1vh;
    border: 1px solid white;
    z-index: 1;
}
.tituloMenu{
    padding-bottom: 1vh;
    margin-bottom: 0.5vh;
    margin-top: 1vh;
    padding-top: 1vh;
    background-color: rgb(48, 145, 100);
    border: 1px solid white;
    border-radius: 1vh;
    text-align: center;
    margin: 2% 20%;

}
.opcion{
    padding: 1vh 0vh;
    border: 1px solid white;
    margin-bottom: 0.5vh;
    border-radius: 1vh;
    background-color: rgb(125, 182, 144);
    color: white;
    margin-left: 20%;
    width: 60%;
     text-decoration: none;
}

#botonmenu{
    position: fixed;
    top: 20vh;
    width: 5vh;
    height: 5vh;
    background-color: green;
    border-radius: 1vh;
    border: 1px solid white;
    z-index: 1;
}
div#contenedor{
    position: relative;
    width: 100%;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    z-index: 0;
}
div#contenedor section:first-child{
    margin-top: 5vh;
}
div#contenedor > *{
    width: 80%;
    margin-bottom: 5vh;
    margin-left: 9%;
}
section{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 5vh 15vh;
    grid-row-gap:3vh;
    grid-column-gap: 10%;
    grid-auto-flow: column;
    grid-template-areas:
    "uno ."
    "dos tres";
}
.titulo{
    grid-area: uno;
}
.primero{
    grid-area: dos;
}
.segundo{
    grid-area: tres;
}
.tercero{
    grid-area: cuatro;
    display: none
    !important;
}
.cuarto {
    grid-area: cinco;
    display: none
    !important;
}
.quinto{
    grid-area: seis;
    display: none
    !important;
}
.quinto img{
    padding-left: 3vh;
    padding-top: 1.5vh;
}
.siete{
    grid-area: siete;
    display: none
    !important;
}
.titulo{
    background-color: rgb(46, 46, 46);
    color: white;
    border: 1px solid white;
    border-radius: 1vh;
    padding-top: 1.4vh;
    text-align: center;
    text-decoration: none;
}
.anuncio{
    background-color: rgb(247, 247, 247);
    border: 1px solid white;
    border-radius: 1vh;
     text-decoration: none;
}
footer{
    background-color: salmon;
    height: 10vh;
    width: 100%;
    position: relative;
}

@media screen and (min-width: 700px){
    body{
        width: 100%;
    }
    header{
        position: relative;
        width: 100%;
    }
    header nav input#buscador{
        width: 60%;
    }
    #todo{
        position: relative;
        background-color: #c5f0d5;
        width: 100%;
        display: flex;
        
    }
    div#contenedor{
        margin-top: 0%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 0;
        overflow-y: unset;
    }

    aside {
        display: block;
        height: auto;
        width: 25%;
        margin-top: 0px;
        overflow-y:visible;
    }

    .menu{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 1vh;
        border-top: 1px solid white;
    }
    .tituloMenu{
        padding: 1vh 0%;
        background-color: rgb(48, 145, 100);
        border: 1px solid white;
        border-radius: 1vh;
        text-align: center;
        margin: 1vh 10% 0.5vh 10%;
        width: 80%;
    }
    .opcion{
        padding: 1vh 0vh;
        border: 1px solid white;
        margin-bottom: 0.5vh;
        border-radius: 1vh;
        background-color: rgb(153, 185, 153);
        color: white;
        width: 80%;
        margin: 1% 10%;
    }
    #botonmenu{
        display: none;
    }
    section{
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 5vh 15vh;
        grid-row-gap:3vh;
        grid-column-gap: 10%;
        grid-auto-flow: column;
        grid-template-areas:
        "uno . ."
        "dos tres cuatro";
    }
 
    footer{
        position: relative;
    }
    .tercero{
        display: inline-block
        !important;
     }
}
@media screen and (min-width: 1200px){
    header nav input#buscador{
        width: 55%;
    }
    section{
        grid-template-columns: repeat(4,18%);
        grid-template-rows: 5vh 15vh;
        grid-row-gap:3vh;
        grid-column-gap: 5vh;
        grid-auto-flow: column;
        grid-template-areas:
        "uno . . ."
        "dos tres cuatro cinco";
    }
    .cuarto{
       display: inline-block
       !important;
    }
}
@media screen and (min-width: 1500px) {
    header nav input#buscador{
        width: 50%;
    }
    aside{
        width: 30%;
    }
    section{
        display: grid;
        grid-template-columns: repeat(5,15%);
        grid-template-rows: 5vh 15vh;
        grid-row-gap:3vh;
        grid-column-gap: 5vh;
        grid-auto-flow: column;
        grid-template-areas:
        "uno . . . ."
        "dos tres cuatro cinco seis";
    }
    section.plus{
        display: grid;
        grid-template-columns: repeat(5,15%);
        grid-template-rows: 5vh 15vh 20vh;
        grid-row-gap:3vh;
        grid-column-gap: 5vh;
        grid-auto-flow: column;
        grid-template-areas:
        "uno . . . ."
        "dos tres cuatro cinco seis"
        "siete siete siete siete siete";
    }
    .quinto{
        display: inline-block
        !important;
    }
    .siete{
        display: inline-block
        !important;
    }
    
    
}