*{margin:0px;padding: 0px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
body{background:#c5f0d5;display: flex;justify-content: center;align-items: center;min-width: 320px;}
/*COMUNES*/
#login-container{
    align-self: center;
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 0px 10px 4px rgb(176, 224, 198);
    border-radius: 0.25em;
    position: relative;
}

#foto{
    width: 25%;
    height: 25%;
    margin: 4% auto 0 auto;
    background-image: url("../imagenes/iconos/logo.png");
    background-repeat: no-repeat;
    background-size: 100% 95%;
    filter: grayscale(100%);
}

#formulario {margin-top: 4.5%;}
#titulo{text-align: center;font-weight: 200;}
#formulario > p{margin-left: 8%;font-weight: 600;}
#formulario > input{margin-left: 8%;}

.field{
    width: 84%;
    height: 6.5%;
    margin: 0 8% 4% 0;
    font-size: 120%;
}

#formulario > a{
    float: right;
    margin-right: 8%;
    color: #85c98f;;
}

#formulario > button{
    width: 85%;
    height: 8%;
    margin: 3% 7.5% 4% 7.5%;
    border: none;
    border-radius: 0.2em;
    font-size: 120%;
    font-weight: 700;
    color: rgb(153, 153, 153);
    background-color: rgb(170, 226, 190);
    box-shadow: 0px 0px 6px 0.5px rgb(204, 204, 204);
}

#formulario > button:hover{background-color: rgb(177, 243, 200)}
#recordar{margin: 0 0 4% 8%;}

/*DESKTOP*/
@media (min-width:1680px){
    #login-container{width: 38%;height: 70vh;}
    #titulo{font-size: 300%;}
    #clave{margin-bottom: 0;}
    #formulario > button{ margin: 3% 7.5% 5.5% 7.5%;}
}
/*DESKTOP 2*/
@media (max-width:1680px){
    #login-container{width: 38%;height: 65vh;}
    #titulo{font-size: 300%;}
    #clave{margin-bottom: 0;}
}

/*LAPTOP)*/
@media(max-width:1440px){
    #titulo{font-size: 230%;}
}

/*TABLET*/
@media (max-width:1024px){
    #login-container{width: 45%;height: 65vh;}
    #titulo{font-size: 270%;}
    #clave{margin-bottom: 0;}
}

/*MOVIL*/
@media(max-width:600px){
    #login-container{width: 84%;height: 70vh;}
    #titulo{font-size: 200%;}
}



