<link rel="stylesheet" href="./css/login.css">
<html>
    <body>
        <div id="login-container">
            <h1 id="titulo">Iniciar Sesión</h1>
            <div id="foto">
            </div>
            <form id="formulario" method="GET" action="./login.html"><!--Especificar un fichero en el que mandar los datos-->
                <p>Dirección de Email</p>
                <input id="email" class="field" type="text" name="email" placeholder="Introduce una dirección válida"><br>
                <p>Contraseña</p>
                <input id="clave" class="field" type="password" name="pass" placeholder="Introduce una contraseña"><br>
                <input id="recordar" type="checkbox"> Recordarme <a href="#">Has olvidado tu contraseña?</a><br>
                <button type="submit" onclick="alert('clickado');">Login</button>
            </form>
                <a style="margin-left: 8%">No tienes cuenta?</a>  <a href="#" style="color: #85c98f;">Registrarme</a>
        </div>  
    </body>
</html>